/* START: Task 1 Styles */
table {
    margin: 0 auto;
    width: 200px;
    height: 150px;
}

.td-blue {
    background-color: #00f;
}

.td-yellow {
    background-color: #ff0;
}

#task2 {
    padding: 50px 35% 0;
}

#task2 input {
    height: 30px;
    width: 300px;
}

.status_green,
.status_red {
    width: 400px;
    margin: 0 auto;
    height: 300px;
}

.status_red {
    background-color: #f00;
}

.status_green {
    background-color: #0f0;
}

#task2 button {
    height: 35px;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

/* END: Task 2 Styles */

/* START: Task 3 Styles */

/* END: Task 3 Styles */