#app-root {
    text-align: center;
}

.region,
.list {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}

th,
td {
    padding: 30px 0;
}

table th {
    background-color: #449F4E;
    color: #FFFFE6;
    padding: auto;
    font-size: 18px;
}

tr:nth-child(odd) {
    background-color: #F1F1F0;
}

tr:hover {
    background-color: #DCDCDB;
}