.container{
    padding: 10px;
}
input{
    height: 50px;
    width: 100%;
    background-color: #3cbc8d;
    padding-left: 15px;
    border: none;
}
button{
    outline: none;
    border: none;
    background-color: #4caf50;
    margin-top: 30px;
    padding: 20px 30px;
    margin-right: 5px;
    color: #fff;
}